%h1 Forgot Password

= form_tag login_path do

  = label :session, :email, 'E-Mail:'
  = text_field :user, 'email', :id => 'emailField'
  
  = submit_tag 'Request new password', :id => 'request_submit'